/* ==========================================================================
   NOTES PAGES
   ========================================================================== */

.course-entry,
.note-entry {
  border-bottom: 1px solid #ddd;
  padding: 0.7rem 0;
  display: flex;
  justify-content: space-between;
}

.course-title,
.note-title {
  font-weight: bold;
  color: var(--link-color, #0055aa);
}

.course-meta,
.note-date {
  font-size: 0.9rem;
  color: #555;
}

.dark-mode .course-meta,
.dark-mode .note-date {
  color: #aaa;
}

#note-content ul,
#note-content ol {
  margin: 0 0 0 1.5rem;
  padding-left: 0;
  list-style-position: outside;
}

#note-content ul ul,
#note-content ol ul,
#note-content ul ol,
#note-content ol ol {
  margin-left: 3rem;
}

#note-content li+li {
  margin-top: 0.25rem;
}

h1 {
  font-size: 2rem;
  margin-bottom: 0.5rem;
}

h2 {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

h3 {
  font-size: 1.25rem;
  margin-bottom: 0.5rem;
}

h4 {
  font-size: 1rem;
  margin-bottom: 0.5rem;
}